*.log
# binaries 
*.test

bin
vendor


*.log
*.swp
.idea
*.patch

### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# temp database for running the application
data
.DS_Store